<% provide(:title, @recipe.name) %>
<h1><%= @recipe.name.upcase %></h1>
<h4>What and how do you want to edit the Recipe</h4>
<br/>
<p> Alter the name or number of servings of the recipe? </p>
<p class="right"><%= link_to "Yes",add_ingredient_path(:id => @recipe.id), :target => "_blank" %></p>

<p> Add an ingredient to the recipe? </p>
<p class="right"><%= link_to "Yes",edit_recipe_path(@recipe), :target => "_blank" %></p>

<p> Alter the name or amount of the following ingredients of the recipe? </p>
#for each ingredient

<p class="right"><%= link_to "Yes",edit_recipe_path(@recipe), :target => "_blank" %></p>

